@use 'src/styles/vars';
@use 'src/styles/mixins';

.mainmenu-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 4em auto;
    gap: 1em;

    @media (min-width: 600px) {
        justify-content: center;
        gap: 2em;
    }

    .material-symbols-outlined { 
        @include mixins.material-symbols;
        
        &:hover{
            width: 2em;
            height: 2em;
            transition: 0.5s;
        }

        @media (min-width: 600px) {
            width: 2em;
            height: 2em;
            transition: 0.5s;

            &:hover{
                width: 2.5em;
                height: 2.5em;
                transition: 0.5s;
            }
        }
      }
}
