@use 'src/styles/vars';

.mainmenu-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    @media (min-width: 600px) {
        justify-content: center;
        gap: 2em;
    }

    .material-symbols-outlined { 
        color: white;
        font-size: 4em;
        display: flex;
        background-image: vars.$gradient;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        align-items: center;
        justify-content: center;
        @media (min-width: 600px) {
            width: 2em;
            height: 2em;
        }
      }
}
