@use 'src/styles/vars';

.header {
    margin: 2em;
    position: sticky;
    top: 0;
    z-index: 1;

    &-logo__title {
        display: flex;
        letter-spacing: 0.05em;
        align-items: center;
        @media (min-width: 600px) {
            justify-content: center;
        }
    }

    &-logo {
        width: 5em;
        margin-right: 2em;
    }
    &-title {
        font-weight: 700;
        font-size: 1.5em;
        background-image: vars.$gradient;
        background-clip: text;
        color: transparent;
    }
}