@use 'src/styles/vars';

.footer {
    background-image: vars.$gradient;
    width: 100%;
    height: 5em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    
    &-information {
        color: vars.$light-text;
        margin-right: 2em;
        font-size: 0.8em;
        font-weight: 400;
    }
}